<form class="ui form">
    <div class="field">
        <label>First name</label>
        <input type="text" name="first_name" placeholder="First Name">
    </div>
    <div class="field">
        <label>Last name</label>
        <input type="text" name="last_name" placeholder="Last name">
    </div>
    <button class="ui button" type="submit">
        Submit
    </button>
</form>